/_site
*.gem
.sass-cache
Gemfile.lock

# Eclipse
.classpath
.project
.settings/
.factorypath

bin/

.jekyll-cache/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
target/

# Log directory
log/

.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/
